.button {
  cursor: pointer;
  transition: transform .3s ease;
}

.refreshButton:hover {
  transform: rotate(40deg);
}

.refreshButton:active {
  transform: rotate(360deg);
}

.refreshButton:disabled {
  transform: none;
}